h1 {
  height: 100%;
  background-repeat: no-repeat;
}
ion-item {
  padding: 10px 0 10px;
}
h2 {
  font-family: "Trebuchet MS";
  font-size: 20pt;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

ion-button {
  padding: 10px 20px 0 20px;
}

h4 {
  font-family: "Trebuchet MS";
  font-size: 12pt;
  padding: 10px 0 0 20px;
}
h6 {
  color: red;
  margin-left: 18px;
}
