* {
    margin: 1px 1px;
    padding: 0 5px 0 5px;
}

ion-label {
    h1{
        font-size: 30pt;
        font-weight: bold;
    }
    a {
        text-align: right;
        h3 {
            font-size: 10pt;
            font-weight: bold;
        }
        
    }
    .or {
        font-size: 12pt;
        text-align: center;
        color: gray;
    }
}

img {
    padding-top: 10px;
    size: 5%;
}